.container {
  text-align: center;
  background: #8acfe9;
  padding: 20px;
  border: 2px solid #33edbf;
  border-radius: 10px;
}
.logo{
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
}